/*inputProps={{*/
/*style: {*/
/*    width: "230px",*/
/*    height: "90px",*/
/*},*/
/*maxLength: CHARACTER_LIMIT,*/
/*}}*/
/*FormHelperTextProps={{*/
/*style: {*/
/*    margin: 0,*/
/*    padding: "0 0 0 5px",*/
/*    fontSize: 10,*/
/*},*/
/*}}*/

.popup {
    position: fixed;
    top: 40%;
    left: 40%;
    justify-content: center;
    align-items: center;
}

.popup-main {
    background: rgb(212 246 228);
    padding: 20px;
    border-radius: 10px;
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}