.text-logo {
    height: 70px;
    width: 300px;
}

.right-options{
    display: flex;
    align-items: center;
    align-content: center;
}

.header-text-logo{
    padding-top: 10px;
    display: flex;
    justify-content: center;
}


.header-profile-btn, .header-logout-btn , .header-shared-details-btn{
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.header-toolbar, .header-main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-right: 20px;

}