.text-logo {
    width: 15em;
}

.right-options{
}

.header-text-logo{
    padding-top: 10px;
    display: flex;
    justify-content: center;
}


.header-profile-btn, .header-logout-btn{
    display: flex;
    flex-direction: column;
    font-size: 1em;
}

.header-toolbar, .header-main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}