.MuiFormControl-root {
    width: 65%;
    max-width: 250px;
}

.main-form-div{
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    align-self: center;
    flex-direction: column;
    background-color: rgb(254, 212, 228);
    margin-bottom: 10px;
}

.user-form-header-div {
    height: 20%;
}

.main-form-div > div {
    width: 100%;
}

.main-title-div {
    height: 10%;
}

.form-main, .main-form-div , .main-title-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-form {
    width: inherit;
    max-height: 100%;
}

.profile-form > * {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
}

.user-form-main {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.profile-pic-buttons {
    display: flex;
    flex-direction: row;
}

.form-main{
    overflow: scroll;
}
.form-title {
    font-size: 1.2em
}

.save-btn {
    margin-top: 2px;
}