.loading-video-chat-main, .loading-video-chat-card{
    display: flex;
    justify-content: center;
    align-content: center;
}

.loading-video-chat-main{
    background-size: cover;
}

.loading-video-chat-card {
    margin: 10px;
    background-color: #080606f0;
    flex-direction: column;
}
.loading-video-chat-card > *{
    display: flex;
    justify-content: center;
    align-content: center;
}

.loading-video-title {
    color: white;
    text-align: center;
}

.loader {
    width: 500px;
    padding-right: 10px;
}
